 h1 { font-family: verdana; font-size: 300%; }
        h1, h2, p,                                           
        p { padding: 10px; margin: 10px; font-family: verdana; font-size: 160%; }
        a:link, a:visited { color: white; padding: 25px 30px; text-align:center; text-decoration: none; display: inline-block; }
        table { font-family: arial, sans-serif; width: 100%; }
        td, th { border: 1px solid                                                                                                                                                               
        th { background-color: hwb(186 51% 45%); }
        li a { display: inline-block; color: rgb(10, 10, 10); text-align: center; padding: 16px ; text-decoration: none; background-color: red; border-radius: 10px ; border: 1px solid           
        li a:hover { background-color:           
        .active{ background-color: blue; }
                                                                      
        h1 { color: white; text-shadow: 4px 2px 2px black; }
                                                                                                          
                                          

                                              
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background:         
            border-radius: 15px;
            display: flex;                              
            width: 100%;
        }
        ul li {
            flex: 1 1 0;                                                   
            text-align: center;
        }
        ul li.big-font { min-width: 120px; }
        ul li a {
            display: block;
            padding: 15px 20px;
            line-height: 1.5;
            text-decoration: none;
            color:      
        }
        ul li a:hover { background:        

                                                                      
        @media (max-width: 600px) {
            ul { flex-direction: column; }
            ul li {
                width: 100%;
                flex: none;                                                 
                float: none;                                                
            }
            ul li a { width: 100%; box-sizing: border-box; }
            ul li.big-font { min-width: auto; }
        }
